.botao {
    margin-top: 40px;

    background-color: #6278F7;
    padding: 22px 29px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;

    font-size: 18px;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
}

.botao:hover {
    color: #95FFD4;
}