.footer {
    background-image: url('../../../public/imagens/fundo.png');
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 75px 0;
    background-color: #6278F7;
}

.footer .links {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.footer .links a {
    height: 35px;
}

.footer span {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
}